extends layout.pug

block content
  blockquote
    | This is peace, this is exquisite — the resolution of all fabrications; the relinquishing of all acquisitions; the ending of craving; dispassion; stopping; Unbinding.
