doctype html 
html(lang='en')
  head
    title Unbinding.org
    link(rel='stylesheet', href='style.css')
  body
    nav
      h1 U
    main
      blockquote
        | This is peace, this is exquisite — the resolution of all fabrications; the relinquishing of all acquisitions; the ending of craving; dispassion; stopping; Unbinding.
    footer
