html {
  --white: #FAF9F8;
  --black: #393532;
  --ochre: #C37B34;
  --ochre-light: #DE9C5A;
  --ochre-dark: #774411;
  --nav-height: 6em;
  --blue: #236979;
  --blue-light: #6098A5;
  --blue-dark: #033C49;
  --grey: #787878;
  --grey-light: #A6A6A6;
  --grey-dark: #4A4A4A;
  background: var(--black);
}

body {
  background-color: var(--white);
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);  
}

#logo a {
  text-decoration: none;
}

blockquote {
  margin: 0;
  border-left: 1px solid var(--grey);
  padding: 2em;
  quotes: '\201C' '\201D';
  font-weight: bold;
  color: var(--grey);
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}


::selection {
  background: var(--black); /* WebKit/Blink Browsers */
  color: var(--white);
}

::-moz-selection {
  background: var(--black); /* WebKit/Blink Browsers */
  color: var(--white);
}

header {
  padding: 1em 0;
  background-color: var(--ochre);
  color: white;
  width: 100%;
  z-index: 1000;
  top: 0;
}

header a {
  color: var(--white);
  text-decoration: none;
}

header a:hover {
  color: white;
  transition: 0.3s;
}

header nav a {
  padding: 0 2em;
}

main {  
  padding: 5em;
}

footer {
  padding: 4em 0;
  background-color: var(--black);
  color: var(--white);
  min-height: 50vh;
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: white;
}

a {
  font-weight: 100;
  color: var(--ochre);
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color: var(--ochre-light);
  transition: 0.3s;
}

button {
  color: var(--white);
  border: none;
  padding: 1.15ex 2.75ex;
  font-size: 1em;
  font-weight: 100;
  border-radius: 1px;
  transition: 0.5s;
  margin: 1em 0.5em 1em 0;
}

button:hover {
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary {
  background-color: var(--ochre);
}
.btn-primary:hover {
  background-color: var(--ochre-light);
}
.btn-primary:focus, .btn-primary:active {
  outline: none;
  background-color: var(--ochre-dark);
}

.btn-secondary {
  background-color: var(--grey);
}
.btn-secondary:hover {
  background-color: var(--grey-light);
}
.btn-secondary:focus, .btn-secondary:active {
  outline: none;
  background-color: var(--grey-dark);
}

.has-text-centered {
  text-align: center;
}

.has-text-right {
  text-align: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 0;
}
