extends ../layout.pug

block content
  .container  
    h2 Wisdom 

    h4 As an aspect of the path

    p 
      a(href="/wisdom/understanding") Right Understanding
    p 
      a(href="/wisdom/intention") Right Intention

