extends ../layout.pug

block content
  .row
    .three.columns
      nav

        p

        ul
          li 
            a(href="#") 

    .nine.columns

      h2 Right Intention

      div
        h4 TL;DR

        ol
          li 

      hr

      div 
        h4(id="#")

        p

      hr


