extends ../layout.pug

block content
  .row
    .three.columns
      nav

        p

        ul
          li 
            a(href="#generosity") Generosity
          li 
            a(href="#virtue") The Joys of Virtue
          li 
            a(href="#heaven") Life After Death
          li 
            a(href="#drawbacks") The Drawbacks Of Rewards
          li
            a(href="#renunciation") A Reasonable Trade-off
          li
            a(href="#truths") Categories of Experience

    .nine.columns

      h2 Right Understanding

      div
        h4 TL;DR

        ol
          li There is merit in generosity.
          li The moral qualities of good and evil are not simply social conventions.
          li There could be life after death.
          li One has a true moral debt to one's parents.
          li Happiness is possible, and can be attained through our own efforts.
          li There are people who have lived their life in such a way that they have gained true and direct knowledge of these matters.

      hr

      div 
        h4(id="generosity") Generosity

        p

      hr

      div
        h4(id="virtue") The Joys of Virtue
     
        p

      hr

      div
        h4(id="heaven") Life After Death
     
        p

      hr
     
      div
        h4(id="drawbacks") The Drawbacks Of Rewards
     
        p

      hr
    
      div
        h4(id="renunciation") A Reasonable Trade-off
     
        p

      hr
    
      div
        h4(id="truths") Categories of Experience
     
        ol
          li Unskillful Effect
          li Unskillful Cause
          li Skillful Effect
          li Skillful Cause

