footer
  .container
    .row
      .three.columns
        p  
          strong Wisdom
        div
          p 
            a(href="/wisdom/understanding") Understanding
          p 
            a(href="/wisdom/intention") Intention
      .three.columns
        p 
          strong Virtue
        div
          p
            a(href="/virtue/speech") Speech
          p 
            a(href="/virtue/action") Action
          p 
            a(href="/virtue/livelihood") Livelihood
      .three.columns
        p  
          strong Calm
        div
          p 
            a(href="/calm/effort") Effort
          p 
            a(href="/calm/mindfulness") Mindfulness
          p 
            a(href="/calm/concentration") Concentration
      .three.columns
        p
          strong About Unbinding.org
        div
          p 
            a(href="/about/why") Why this website?
    hr
    .row
      .four.columns
        h4 Unbinding.org
      .four.columns
        p
      .four.columns
        a(rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/")
          img(src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0")
        br
        small.has-text-right 
          | To the extent possible under law, the person who associated CC0 with this work has waived all copyright and related or neighboring rights to this work.
