header
  .container
    .row
      .one.column
        a(href="/") U
      .eleven.columns.has-text-right
        nav
          a(href="/wisdom") Wisdom
          a(href="/virtue") Virtue
          a(href="/calm") Calm