extends ../layout.pug

block content
  .container
    h2 Calm 

    h4 As an aspect of the path
  
    p 
      a(href="/calm/effort") Right Effort
    p 
      a(href="/calm/mindfulness") Right Mindfulness
    p 
      a(href="/calm/concentration") Right Concentration