extends ../layout.pug

block content
  .container
    h2 Virtue 

    h4 As an aspect of the path
  
    p 
      a(href="/virtue/speech") Right Speech
    p 
      a(href="/virtue/action") Right Action
    p 
      a(href="/virtue/livelihood") Right Livelihood